.polyStyle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}


.headerStyle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: 5%;
    background-color: rgb(1, 1, 12);
    width: 100%;
}

.bodyStyle {
    display: flex;
    background-color: lightcyan;
    flex-basis: 95%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.svgStyle {
    font-size: larger;
}

.headerStyle > label {
    flex-basis: 60%;
    color: yellow;
    font-size: xx-large;
}

.headerStyle > label > input {
    font-size: xx-large;
    width: 50px;
}

.headerStyle > button {
    flex-basis: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightblue;
}

svg > rect {
    border-style: groove;
}

.subHeaderClass {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
}

.subHeaderClass > p {
    font-size: xx-large;
    color: darkblue;
    font-style: oblique;
}