.polyClass {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}


.headerClass {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: 5%;
    background-color: rgb(1, 1, 12);
    width: 100%;
}

.bodyClass {
    display: flex;
    /* background-color: lightcyan; */
    flex-basis: 95%;
    flex-flow: row wrap;
    justify-content: center;
}

.svgClass {
    font-size: larger;
    /* -webkit-animation: spin1 10s infinite linear;
    -moz-animation: spin1 10s infinite linear;
    -o-animation: spin1 10s infinite linear;
    -ms-animation: spin1 10s infinite linear;
    animation: spin1 10s infinite linear; */
}

.headerClass>label {
    flex-basis: 60%;
    color: yellow;
    font-size: xx-large;
}

.headerClass>label>input {
    font-size: xx-large;
    width: 50px;
}

.headerClass>button {
    flex-basis: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightblue;
}

/*.rectClass {
    /* animation: rotation 2s infinite linear; */
/* fill: blue
    -webkit-animation: spin1 2s infinite linear;
    -moz-animation: spin1 2s infinite linear;
    -o-animation: spin1 2s infinite linear;
    -ms-animation: spin1 2s infinite linear;
    animation: spin1 2s infinite linear;
    display: block;
}*/



@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@-webkit-keyframes spin1 {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin1 {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes spin1 {
    0% {
        -o-transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes spin1 {
    0% {
        -ms-transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
    }
}

@-keyframes spin1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.polyDiv {
    display: flex;
    justify-content: space-between;
    border: 5px dashed black;
    flex-direction: column;
    background-color:lightskyblue;
}

.polyDiv>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    flex-basis: 15%;
}

.polyDiv>div>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.polyDiv>div>input {
    width: 50%;
    font-size: x-large;
}

.polyDiv>div>div>button {
    font-size: small;
    color: yellow;
    font-style: unset;
    background-color: black;
    flex-grow: 1;
}

.subHeaderClass {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.subHeaderClass>p {
    font-size: xx-large;
    color: darkblue;
    font-style: oblique;
}