.polyStyle {
    display: 'flex';
    flex-direction: column;
    justify-content: space-between;
    flex: flex-grow;
    width: 100vw;
    height: 100vh;
}


.headerStyle {
    display: 'flex';
    flex-direction: 'row';
    justify-content: 'space-between';
    flex: 'flex-grow';
    flex-basis: 5%;
    width: 30%
}

.bodyStyle {
    display: flex;
    background-color: #e3e8edd1;
    padding: 10px;
    flex-basis: 95%;
    border: 1px solid black;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.svgStyle {
    border: 1px solid black;
    font-size: larger;
}