.polyClass {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}


.headerClass {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: 5%;
    background-color: rgb(1, 1, 12);
    width: 100%;
}

.bodyClass {
    display: flex;
    background-color: lightcyan;
    flex-basis: 95%;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.svgClass {
    font-size: larger;
}

.headerClass>label {
    flex-basis: 60%;
    color: yellow;
    font-size: xx-large;
}

.headerClass>label>input {
    font-size: xx-large;
    width: 50px;
}

.headerClass>button {
    flex-basis: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightblue;
}

 .rectClass {
    /* animation: rotation 2s infinite linear; */
    /* fill: blue */
}

/*

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
} */

.polyDiv {
    display: flex;
    justify-content: flex-start;
    border: 1px solid black;
    flex-direction: column;
}

.subHeaderClass {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
}

.subHeaderClass>p {
    font-size: xx-large;
    color: darkblue;
    font-style: oblique;
}